body{
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f0f0f0;
}
/*BTN*/
.btn{
    width: 100%;
}
/*NAVBAR*/
.navbar{
    background-color: #555;
    color: white;
    min-height: 80px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    font-size: 0.9rem;
}
.navbar-brand img{
    height: 3rem;
    
}
.nav-link{
    color: white;
}
.nav-link:hover{
    text-decoration: underline;
    color: white;
}
.navbar-toggler{
    font-size: 30px;
    background-color: white;
}
.navbar-toggler:focus{
    outline: none;
}
/*HERO*/
#hero{
    box-shadow: 2px 2px 5px #999;
    min-height: 400px;
    background-image: url(/img/showcase2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#hero h1{
    text-align: center;
    padding-top: 2rem;
    color: white;
    text-transform: uppercase;
}
#hero p{
    text-align: center;
    color: white;
    font-size: 1.4rem;

}
#showcase{
    min-height: 400px;
}
/*LINKS*/
.alto{
    background-color: white;
    box-shadow: 2px 2px 5px #999;
  }
.alto a{
    color: black;
}
/*CARDS*/
#cards{
    min-height: 400px;
    margin: 1rem;
}
#container-border{
    border: 2px solid #0069D9;
    background-color: white;
    border-radius: 6px;
    box-shadow: 2px 2px 5px #999;
    

}
#cards .row{
    padding-top: 0%;
}
#cards a{
    text-decoration: none;
    color: black;
}
#cards a:hover{
    cursor: pointer;
    opacity: 0.7;
    transform: scale(0.9);

}
#cards h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    padding-top: 1rem;
    color: #4D96E4;
}
#cards p{
    text-align: center;
    color: #555;
    margin:  0;
}
.card{
    box-shadow: 2px 2px 5px #999;
    margin: 2rem;

}
#card-text h5{
    text-align: center;
    font-size: 0.6rem;
    color: rgb(74, 181, 231);

}
#card-text h3{
    text-align: center;
    font-size: 1rem;
    color:#4D96E4;

}
#card-text p{
    color: #6a6a6a;
    font-size: 12px;
}
#card-text i{
    color: gold;
    font-size: 0.7rem;
}
/*MAP*/
#info{
    text-align: justify;
    width: 70%;
}
#map-container{
    border: 2px solid #6a6a6a;
    border-radius: 7px;
    padding: 1rem;
    background: url(/img/city.jpg);
    box-shadow: 2px 2px 5px #999;
}
#map{
    min-height: 400px;
    margin: 2rem;
    text-align: center;
}
#map h2{
    padding-top: 10px;
    color: rgb(74, 181, 231);
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
}
#map p{
    color: white;
    font-size: 0.8rem;

}
#map ul{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 0%;
    
}
#map ul li{
    list-style: none;
}
#map ul li p{
    color: #6a6a6a;
    background-color: white;
    background-color: white;
    border: 1px solid  rgb(74, 181, 231);
    border-radius: 7px;
    box-shadow: 2px 2px 5px #999;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.3rem;
}
#map img{
    border: 2px solid white;
    border-radius: 6px;
}
#map img:hover{
    cursor: pointer;
    opacity: 0.7;
}
/*PRODUCTS*/
#cards1-border{
    border: 2px solid #0069D9;
    background-color: white;
    border-radius: 6px;
    box-shadow: 2px 2px 5px #999;
    
}
#cards1{
    min-height: 400px;
    margin: 32px 0 0;
}
#cards1 a{
    text-decoration: none;
    color: black;
}
#cards1 a:hover{
    cursor: pointer;
    opacity: 0.7;
    transform: scale(0.9);

}
#cards1 h1{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1rem;
    color: #4D96E4;
}
#cards1 h3{
    color: #4D96E4;
    font-size: 0.7rem;
}
#cards1 p{
    text-align: center;
    color: #555;
    margin-bottom: 0px;
}
#card-text1{
    min-height: 200.8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#card-text1 h5{
    text-align: center;
    font-size: 0.6rem;
    color: rgb(74, 181, 231);

}
#card-text1 h3{
    text-align: center;
    font-size: 1rem;
    color:#4D96E4;

}
#card-text1 p{
    color: #6a6a6a;
    font-size: 12px;
}
#card-text2{
    min-height: 255.8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#card-text2 h5{
    text-align: center;
    font-size: 0.6rem;
    color: rgb(74, 181, 231);

}
#card-text2 h3{
    text-align: center;
    font-size: 1rem;
    color:#4D96E4;

}
#card-text2 p{
    color: #6a6a6a;
    font-size: 12px;
}

/*ADS*/
#ads{
    margin: 2rem;
}
#carousel{
    box-shadow: 2px 2px 5px #999;
}
#carousel img{
    max-height: 400px;
    width: 100%;
}
/*SOCIAL*/
#social-media{
    justify-content: center;
    min-height: 50px;
    margin: 2rem;
    
    
}
#social{
    max-width: 100%;
    justify-content: center;
    align-items: center;
}
#social p{
    text-align: center;
    font-size: 2rem;
}
.links1{
    text-align: center;
    font-size: 3rem;
}
.links1 i{
    font-size: 4rem;
    padding: 1rem;
    text-decoration: none;
}
/*FOOTER*/
#footer{
    min-height: 200px;
    padding: 2rem;
}
#footer a{
    color: white;
}
#footer h5{
    font-size: 1rem;
    color: rgb(74, 181, 231);
}
#footer ul li{
    font-size: 0.8rem;
    padding: 0.4rem;
}
.footer-color{
    background-color: #6a6a6a;
}
.copy{
    background-color: #6a6a6a;
}
.copy a{
    color: rgb(74, 181, 231);
}
