<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--Custom CSS-->
  <link rel="stylesheet" href="/css/styles.css">

  <!--Noto Sans Kr-->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap"
    rel="stylesheet">

  <!--Ionicons-->
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <title>Hello, world!</title>
  </head>
  <body>
    <body>
        <!--NAV-->
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="#"><img src="/img/logo.png" alt="Logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <ion-icon name="apps-outline"></ion-icon>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" id="">
              <li class="nav-item">
                <div class="dropdown">
                  <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actividades
                  </a>
                
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" id="Vuelos">Vuelos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" id="Hoteles">Hoteles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" id="Viajes">Viajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" id="Circuitos">Circuitos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" id="Cruceros">Cruceros</a>
              </li>
              <li class="nav-item text muted">
                <div class="dropdown">
                  <a class="btn btn-secondary btn-info btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Iniciar Sesión
                  </a>
                
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </li>
              <li class="nav-item text-muted ">
                <div class="dropdown">
                  <a class="btn btn-secondary btn-info btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Perfil
                  </a>
                
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <!--SHOWCASE-->
        <section id="hero">
          <div class="container display-1">
            <h1>Encuentra el viaje de tus sueños</h1>
            <p class="display-4">Circuitos, Estancias, Vuelo+Hotel, Fly&Drive... ¡Tu próxima aventura comienza aquí!</p>
      
          </div>
        </section>
        <section>
          <!--LINKS-->
          <div class="container-fluid alto">
            <div class="row  align-items-end justify-content-center">
              <div class="d-none d-lg-block d-xl-block col-lg-2 col-xl-2"><a href="#"><img
                    src="https://img.icons8.com/color/48/000000/flamenco.png" />España</a>
              </div>
              <div class="d-none d-lg-block d-xl-block col-lg-2 col-xl-2"><a href="#"><img
                    src="https://img.icons8.com/color/48/000000/beach.png" />Baleares y
                  Canarias</a>
              </div>
              <div class="d-none d-lg-block d-xl-block col-lg-2 col-xl-2"><a href="#"><img
                    src="https://img.icons8.com/color/48/000000/coconut-cocktail.png" />El
                  Caribe</a></div>
              <div class="d-none d-lg-block d-xl-block col-lg-2 col-xl-2"><a href="#"><img
                    src="https://img.icons8.com/color/48/000000/venice-canal.png" />Europa</a>
              </div>
              <div class="d-none d-lg-block d-xl-block col-lg-2 col-xl-2"><a href="#"><img
                    src="https://img.icons8.com/color/48/000000/grand-canyon.png" />Larga
                  distancia</a></div>
              <div class="d-none d-lg-block d-xl-block col-lg-2 col-xl-2"><a href="#"><img
                    src="https://img.icons8.com/color/48/000000/coliseum.png" />Mediterraneo</a>
              </div>
            </div>
          </div>
        </section>
        <!--CARDS-->
        <section id="cards">
          <div class="container" id="container-border">
            <h1 class="display-4">Ofertas del mes</h1>
            <p>Solo por tiempo limitado</p>
            <div class="card-deck">
              <div class="row p-2 ">
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3 p-0">
                  <div class="card"><a href="#">
                      <img class="card-img-top" src="/img/Mallorca.jpg" alt="Mallorca">
                      <div class="card-body" id="card-text">
                        <h5 class="card-title">Occidental Playa de Palma<i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h5>
                        <h3>Mallorca desde 258€</h3>
                        <p class="card-text">Salidas desde Madrid 8 dias/ 7 noches Todo Incluido</p>
                        <p class="card-text"><small class="text-muted">Vuelo + Hotel incluido</small></p><button type="button"
                          class="btn btn-primary">Reservar</button>
                    </a>
                  </div>
                </div>
              </div>
              <div class="d-block col-xs-12 col-md-6 col-lg-6 col-xl-3 p-0">
                <div class="card"><a href="#">
                    <img class="card-img-top" src="/img/Sevilla.jpg" alt="Sevilla">
                    <div class="card-body" id="card-text">
                      <h5 class="card-title">San Gil<i class="fas fa-star"></i><i class="fas fa-star"></i><i
                          class="fas fa-star"></i><i class="fas fa-star"></i></h5>
                      <h3>Sevilla desde 277€</h3>
                      <p class="card-text">Salidas desde Madrid 4 dias/ 3 noches Media Pensión</p>
                      <p class="card-text"><small class="text-muted">Vuelo + Hotel incluido</small></p><button type="button"
                        class="btn btn-primary">Reservar</button>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3 p-0">
              <div class="card"><a href="#">
                  <img class="card-img-top" src="/img/Algarve.jpg" alt="Algarve">
                  <div class="card-body" id="card-text">
                    <h5 class="card-title">Yellow Praia Monto Gordo Hotel<i class="fas fa-star"></i><i
                        class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h5>
                    <h3>Algarve desde 911€</h3>
                    <p class="card-text">Salidas desde Madrid 8 dias/ 7 noches Pension Completa</p>
                    <p class="card-text"><small class="text-muted">Vuelo + Hotel incluido</small></p><button type="button"
                      class="btn btn-primary">Reservar</button>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3 p-0">
            <div class="card"><a href="#">
                <img class="card-img-top" src="/img/Grancanaria.jpg" alt="GranCanarias">
                <div class="card-body" id="card-text">
                  <h5 class="card-title">Aparthotel Green Field <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                      class="fas fa-star"></i></h5>
                  <h3>Gran Canaria desde 347€</h3>
                  <p class="card-text">Salidas desde Madrid 8 dias/ 7 noches Todo Incluido</p>
                  <p class="card-text"><small class="text-muted">Vuelo + Hotel incluido</small></p><button type="button"
                    class="btn btn-primary">Reservar</button>
              </a>
            </div>
          </div>
          </div>
          </div>
          </div>
        </section>
        <!--MAP-->
        <section id="map">
          <div class="container " id="map-container">
            <div class="row">
              <div class="col-xs-12 col-md-12 col-lg-6 col-xl-6 d-flex flex-column justify-content-center align-items-center">
               <a href="#"> <h2 class="display-3 text-center">Explora nuevos destinos</h2>
                <div id="info">
                <p class="display-3">Nuestro World Map te ofrece información de más de 300 destinos, explora, descubre y elige tu nueva
                  aventura.</p></a></div>
                <ul class="lista display-4">
                  <li>
                    <p>Utiliza tus Wcoin para reservar tu viaje.
                    </p>
                  </li>
                  <li>
                    <p>Encuentra destinos nuevos.</p>
                  </li>
                  <li>
                    <p>Infórmate sobre rutas en países desconocidos.</p>
                  </li>
                  <li>
                    <p>Visualiza comentarios de otros travelers.</p>
                  </li>
                  <li>
                    <p> Recomendaciones de nuestros expertos travelers.</p>
                  </li>
                  <li>
                    <p>Descargate guías de viaje de tu destino</p>
                  </li>
                </ul>
              </div>
              <div class="d-none d-lg-block d-xl-block col-lg-6 col-xl-6 justify-content-center align-self-center">
                <a href="#"><img src="/img/mapamundi.svg" alt="mapa"></a>
              </div>
            </div>
          </div>
        </section>
        <!--PRODUCTS-->
        <section id="cards1">
          <div class="container "id="cards1-border">
            <h1 class="display-4">Europa</h1>
            <p>Vuelo + Hotel</p>
            <div class="card-deck">
              <div class="row p-2">
                <div class="col-xs-12 col-md-4 col-lg-4 col-xl-2 p-0">
                  <div class="card"><a href="#">
                      <img class="card-img-top" src="/img/amsterdam.jpg" alt="Amsterdam"></a>
                      <div class="card-body" id="card-text1">
                        <h3>Amsterdam desde 197€</h3>
                        <p class="card-text">Entre canales y tulipanes</p>
                        <p class="card-text"><small class="text-muted">4 dias/3 noches</small></p>
                          <button type="button"
                          class="btn btn-primary">Reservar</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-4 col-lg-4 col-xl-2 p-0">
                <div class="card"><a href="#">
                    <img class="card-img-top" src="/img/berlin.jpg" alt="Berlin"> </a>
                    <div class="card-body" id="card-text1">
                      <h3>Berlín desde 219€</h3>
                      <p class="card-text">Una ciudad moderna con mucho pasado</p>
                      <p class="card-text"><small class="text-muted">5 dias/4 noches</small></p><button type="button"
                        class="btn btn-primary">Reservar</button>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4 col-xl-2 p-0">
              <div class="card"><a href="#">
                  <img class="card-img-top" src="/img/londres.jpg" alt="Londres"> </a>
                  <div class="card-body" id="card-text1">
                    <h3>Londres desde 119€</h3>
                    <p class="card-text">Londres es esa ciudad que todos deberíamos visitar</p>
                    <p class="card-text"><small class="text-muted">4 dias/3 noches</small></p><button type="button"
                      class="btn btn-primary">Reservar</button>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-4 col-xl-2 p-0">
            <div class="card"><a href="#">
                <img class="card-img-top" src="/img/praga.jpg" alt="Praga"> </a>
                <div class="card-body" id="card-text1">
                  <h3>Praga desde 196€</h3>
                  <p class="card-text">Una ciudad con mucha história que descubrir</p>
                  <p class="card-text"><small class="text-muted">5 dias/4 noches</small></p><button type="button"
                    class="btn btn-primary">Reservar</button>
            </div>
          </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-4 col-xl-2 p-0">
            <div class="card"><a href="#">
                <img class="card-img-top" src="/img/oslo.jpg" alt="Oslo"> </a>
                <div class="card-body" id="card-text1">
                  <h3>Oslo desde 333€</h3>
                  <p class="card-text">Pequeña, industrial y fría, pero a la vez llena de vida</p>
                  <p class="card-text"><small class="text-muted">4 dias/3 dias</small></p><button type="button"
                    class="btn btn-primary">Reservar</button>
            </div>
          </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-4 col-xl-2 p-0 card-deck">
            <div class="card"><a href="#">
                <img class="card-img-top" src="/img/paris.jpg" alt="Paris"> </a>
                <div class="card-body" id="card-text1">
                  <h3>Paris desde 153€</h3>
                  <p class="card-text">Paris mon amour</p>
                  <p class="card-text"><small class="text-muted">4 dias/3 noches</small></p><button type="button"
                    class="btn btn-primary">Reservar</button>
            </div>
          </div>
          </div>
          </div>
        </section>
        <section id="cards1">
          <div class="container"id="cards1-border">
            <h1 class="display-4">Larga Distancia</h1>
            <p>Circuitos</p>
            <div class="card-deck">
              <div class="row p-2">
                <div class="col-xs-12 col-md-4 col-lg-4 col-xl-2 p-0">
                  <div class="card"><a href="#">
                      <img class="card-img-top" src="/img/tailandia.jpg" alt="Tailandia"> </a>
                      <div class="card-body" id="card-text2">
                        <h3>Tailandia única con Phuket desde 1.409€</h3>
                        <p class="card-text">Visitando: Bangkok,  Phuket,  Chiang Mai</p>
                        <p class="card-text"><small class="text-muted">10 días, 9 noche/s</small></p><button type="button"
                          class="btn btn-primary">Reservar</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-4 col-lg-4 col-xl-2 p-0">
                <div class="card"><a href="#">
                    <img class="card-img-top" src="/img/mexico.jpg" alt="Mexico"> </a>
                    <div class="card-body" id="card-text2">
                      <h3>México, Mérida y Riviera Maya desde 2.297€</h3>
                      <p class="card-text">Visitando: México</p>
                      <p class="card-text"><small class="text-muted">10 días, 9 noche/s</small></p><button type="button"
                        class="btn btn-primary">Reservar</button>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4 col-xl-2 p-0">
              <div class="card"><a href="#">
                  <img class="card-img-top" src="/img/japon.jpg" alt="Japon"> </a>
                  <div class="card-body" id="card-text2">
                    <h3>Secretos de Japón desde 3.509€</h3>
                    <p class="card-text">Visitando: Kyoto,  Tokyo,  Osaka,  Hakone,  Nagoya,  Takayama</p>
                    <p class="card-text"><small class="text-muted">10 días, 9 noche/s</small></p><button type="button"
                      class="btn btn-primary">Reservar</button>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-4 col-xl-2 p-0">
            <div class="card"><a href="#">
                <img class="card-img-top" src="/img/kenia1.jpg" alt="Kenia"> </a>
                <div class="card-body" id="card-text2">
                  <h3>Leyendas de Kenia desde 2.251€</h3>
                  <p class="card-text">Visitando: Nairobi,  Samburu Parque Nacional,  Nakuru</p>
                  <p class="card-text"><small class="text-muted">8 días, 7 noche/s</small></p><button type="button"
                    class="btn btn-primary">Reservar</button>
            </div>
          </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-4 col-xl-2 p-0">
            <div class="card"><a href="#">
                <img class="card-img-top" src="/img/marruecos.jpg" alt="Marruecos">  </a>
                <div class="card-body" id="card-text2">
                  <h3>Emiratos Árabes al completo desde 1.710€</h3>
                  <p class="card-text">Visitando: Dubái,  Abu Dhabi,  Al Ain,  Fujairah,  Sharjah</p>
                  <p class="card-text"><small class="text-muted">8 días, 7 noche/s</small></p><button type="button"
                    class="btn btn-primary">Reservar</button>
            </div>
          </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-4 col-xl-2 p-0">
            <div class="card"><a href="#">
                <img class="card-img-top" src="/img/usa.jpg" alt="USA"> </a>
                <div class="card-body" id="card-text2">
                  <h3>USA, Costa Este de norte a sur desde 2.459€</h3>
                  <p class="card-text">Visitando: Miami Florida,  Miami Beach,  Orlando,  Orlando-Disney World</p>
                  <p class="card-text"><small class="text-muted">12 días, 11 noche/s</small></p><button type="button"
                    class="btn btn-primary">Reservar</button>
            </div>
          </div>
          </div>
          </div>
        </section>
        <!--ADS-->
        <section id="ads">
          <div class="container">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" id="carousel">
                <div class="carousel-item active">
                  <img class="d-block w-100 " src="/img/ads.jpeg" alt="First slide">
                </div>
                <div class="carousel-item ">
                  <img class="d-block w-400 " src="/img/goldengate.jpg" alt="Second slide">
                </div>
                <div class="carousel-item ">
                  <img class="d-block w-400 " src="/img/man.jpg" alt="Third slide">
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="social-media">
          <div class="container display-4" id="social">
            <p>Síguenos en nuestras redes</p>
            <div class="links1">
              <a href="#">
                <i><ion-icon name="logo-facebook"></ion-icon></i>
              </a>
              <a href="#">
                <i><ion-icon name="logo-twitter"></ion-icon></i>
              </a>
              <a href="#">
                <i><ion-icon name="logo-linkedin"></ion-icon></i>
              </a>
            </div>
          </div>
        </section>
      
        <!-- Footer -->
        <footer class="page-footer font-small indigo footer-color mt-4">
          <div class="container text-center text-white" id="footer">
            <div class="row">
              <div class="col-md-3 mx-auto">
                <h5 class="display-4 mt-3 mb-1">World Traveler</h5>
      
                <ul class="list-unstyled display-4">
                  <li>
                    <a href="#!">Quienes somos</a>
                  </li>
                  <li>
                    <a href="#!">Trabaja con nosotros</a>
                  </li>
                  <li>
                    <a href="#!">Nuestras agencias</a>
                  </li>
                  <li>
                    <a href="#!">Recomendados</a>
                  </li>
                </ul>
      
              </div>
              <hr class="clearfix w-100 d-md-none">
              <div class="col-md-3 mx-auto">
                <h5 class="display-4 mt-3 mb-1">Ayuda</h5>
      
                <ul class="list-unstyled display-4">
                  <li>
                    <a href="#!">Devoluciones</a>
                  </li>
                  <li>
                    <a href="#!">Preguntas frecuentes</a>
                  </li>
                  <li>
                    <a href="#!">Estado de tu pedido</a>
                  </li>
                  <li>
                    <a href="#!">Contacta con nosotros</a>
                  </li>
                </ul>
              </div>
              <hr class="clearfix w-100 d-md-none">
              <div class="col-md-3 mx-auto">
                <h5 class="display-4 mt-3 mb-1">Servicios</h5>
      
                <ul class="list-unstyled display-4">
                  <li>
                    <a href="#!">World Traveler socios</a>
                  </li>
                  <li>
                    <a href="#!">Vende con nosotros</a>
                  </li>
                  <li>
                    <a href="#!">Empresas</a>
                  </li>
                  <li>
                    <a href="#!">Programa de afiliados</a>
                  </li>
                </ul>
      
              </div>
              <hr class="clearfix w-100 d-md-none">
              <div class="col-md-3 mx-auto">
                <h5 class="mt-3 mb-1 display-4">Información legal</h5>
      
                <ul class="list-unstyled display-4">
                  <li>
                    <a href="#!">Condiciones de uso</a>
                  </li>
                  <li>
                    <a href="#!">Condiciones de venta</a>
                  </li>
                  <li>
                    <a href="#!">Política de protección de datos</a>
                  </li>
                  <li>
                    <a href="#!">Política de devoluciones y anulaciones</a>
                  </li>
                </ul>
      
              </div>
            </div>
          </div>
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3 copy text-white">© 2020 Copyright:
            <a href="#"> World Traveler</a>
          </div>
          <!-- Copyright -->
      
        </footer>
    <!-- Optional JavaScript -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>